* {
    margin: 0;
    padding: 0;
}
.header {
  background-color: #D9FFF8 ;
  text-align: center;
  color: #11100F;
  font-size: 75px;
  padding: 0px;
  border-bottom: 5px solid black;
}
body{
  background-color: #E8E1EF;
}

#input-box {
  border: 5px dashed  #D9FFF8;
  background-color: #F7F2E6;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 5%;
  margin bottom: 5%;
}
#add{
  border: 5px solid #D9FFF8;
  background-color: #F4C6DB;
  text-align: center;
  color: black;
  font-size: 30px;
  padding: 10px 20px;
  width: 15%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top:3%;
  margin-bottom: 3%;
}
button:hover {
  box-shadow: 0.3em 0.3em 0.3em #777777;
}
#textBox {
  border: 5px solid #D9FFF8;
  background-color: #F4C6DB;
  text-align: center;
  color: black;
  font-size: 30px;
  padding: 10px 20px;
  width:60%;
  height: 50%;
  position: relative;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 5%;
  margin-right: 5%;
}
.list {
  border: 5px dashed  #D9FFF8;
  background-color: #F7F2E6;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 3%;
  height: auto;
}
.list-title {
  border: 3px solid black;
  background-color: #D9FFF8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  width: 400px;
  text-align: center;
  font-size: 40px;
}

ul li {
  border: 3px solid black;
  background-color: #D9FFF8;
  width: 90%;
  height: 75px;
 list-style: none;
 margin-bottom: 2%;
 margin-top: 2%;
 margin-left: auto;
 margin-right: auto;
}
ul li:hover {
  background: #F4C6DB;
}
.priority {
  font-size: 50px;
  position:relative;
  margin-top: 3%;
  margin-bottom: auto;
  margin-left: 2%;
  margin-right: auto;
}
.priority:hover{
  color: blue;
}
.item{
  font-size: 40px;
  text-align: center;
  position:relative;
  margin-top: 3%;
  margin-bottom: auto;
  margin-left: 2%;
  margin-right: auto;
  padding: 0 630px 0 0;
}

.completed{
  font-size: 50px;
  position:relative;
  margin-top: 3%;
  margin-bottom: auto;
  margin-left: 2%;
  margin-right: auto;
}
.completed:hover{
 color: green;
}
.remove {
  font-size: 50px;
  position:relative;
  margin-top: 3%;
  margin-bottom: auto;
  margin-left: 2%;
  margin-right: auto;
}
.remove:hover{
  color: red;
}
